@{
    ViewBag.Title = "Home Page";
}

<h2>Index</h2>


<div id="content"></div>

<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.0/umd/react.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.0/umd/react-dom.development.js"></script>

@Scripts.Render("~/Scripts/React/Tutorial.jsx")

@*@Scripts.Render("~/bundles/Reactjsx")*@
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/6.1.19/browser.js"></script>*@

<div class="jumbotron">
    <h1>ASP.NET 5.x ReactJS config</h1>
</div>
